
body{
 font-family: Verdana;
}
/*
HEADER
*/
/* header{
  width: 100%;
  margin-top: 100px;
}
.tbt-menu{
  background: #8b8b8b;

}
.tbt-menu ul,
.tbt-menu ol{
  list-style: none;
}
.tbt-menu > ul{
  display: flex;
  justify-content:center;
}
.tbt-menu li{
  height: 100%;
}
.tbt-menu > ul li a{
  display: block;
  background: #ececed;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.tbt-menu > ul li{
  height: 100%;
  position: relative;
  border-right: 1px solid #c7c8ca;
}
.tbt-menu > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}
.tbt-menu > ul li:first-child{
  border-left: 1px solid #b2b3b5;
}
.tbt-menu > ul li:last-child{
  border-left: 1px solid #babbbb;
}
.tbt-menu li a:hover{
  background: #454547;
  color: #fff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}
/*Header menu*/
.tbt-menu li ul{
  position: absolute;
  min-width: 150px;
  display: none;
}
.tbt-menu li> ul li{
  border: 1px solid #c7c8ca;
}
.tbt-menu li>ul li a{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}
.tbt-menu li > ul li ul{
  position:absolute;
  right: -150px;
  top: 0;
}
.tbt-menu li:hover > ul{
  display: block;
}
/*
HEADER
*/
/*
Content
*/
content{
  color:rgb(210, 214, 214);
}
content .container{
  border: 2px solid red;
  width: 100%;
  padding: 0px;
}
content .col-lg-10{
  border: 2px solid red;
  margin: 0px;
  padding: 0px;
  width: 80%;
}
/*
ASIDE
*/
aside .col-lg-2{
  border: 2px solid red;
  max-height: 450px;
  height: 450px;
  right: 0;
  margin: 50px 20px 50px 0px;
  position: fixed;
}
/*
ASIDE
*/
/*
Content
*/
/*
FOOTER
*/
footer{
 background: #8b8b8b;
 color: black;
 line-height: 50px;
 padding: 0 20px;
}
footer .container{
  width: 100%;
}
footer .col-lg-5{
  justify-content:center;
}
footer .tbt-list{
  display: flex;
  text-decoration: none;
  list-style: none;
}
footer .tbt-list i{
  padding: 10px 0px 0px 150px;
  font-size: 45px;
}
footer #copy{
  text-align: right;
} */
/*
FOOTER
*/
