{% extends "mainPage/wrapper.html" %}

{% block content %}
<header>
  <nav class="tbt-menu">
    <ul>
      <li><a href="/"><i class="fa fa-home"></i>Главная</a></li>
      <li><a href="/news/"><i class="fa fa-server"></i>Новости</a>
        <ul>
          <li><a href="#">Видео</a>
            <ul>
              <li><a href="#">Тизеры</a></li>
            </ul>
          </li>
          <li><a href="#">Аудио</a></li>
          <li><a href="#">Фотографии</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-cogs"></i>Форум</a></li>
      <li><a href="#"><i class="fa fa-folder-open"></i>Мой профиль</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i>FeedBack</a></li>
    </ul>
  </nav>
</header>
  {% for post in object_list %}
    <a href="/news/{{post.id}}"><h3>{{post.title}}</h3></a>
    <h5>{{post.date|date:"d-m-Y"}}</h5>
  {% endfor %}
{% endblock %}
