{% extends "mainPage/wrapper.html" %}

{% block content %}
<header>
  <nav class="tbt-menu">
    <ul>
      <li><a href="#"><i class="fa fa-home"></i>Главная</a></li>
      <li><a href="/news/"><i class="fa fa-server"></i>Новости</a>
        <ul>
          <li><a href="#">Видео</a>
            <ul>
              <li><a href="#">Тизеры</a></li>
            </ul>
          </li>
          <li><a href="#">Аудио</a></li>
          <li><a href="#">Фотографии</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-cogs"></i>Форум</a></li>
      <li><a href="#"><i class="fa fa-folder-open"></i>Мой профиль</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i>FeedBack</a></li>
    </ul>
  </nav>
</header>
<content>
  <div class="container">
    <div class="col-lg-10">
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>
<h4>origjaoijng0ojnr0owegjnowaorg</h4>

    </div>
    <aside>
        <div class="col-lg-2">
          <div class="row-centered">
          </div>
        </div>
    </aside>
  </div>
</content>
{% endblock %}
